@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-SemiBold.ttf);
}

:root {
    --green: #0bf574;
    --dark: #272727;
    --white: #ffffff;
  }

body {
	background-color: var(--dark);
	font-family: "Nunito", sans-serif;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}