@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand-Medium.ttf);
    font-display: swap;
}

:root {
    --green: #0bf574;
    --blue: #00c5e7;
    --orange: #eca622;
    --pink: #ec0ee1;
    --pfp-color: #272727;
    --dark: #191919;
    --white: #ffffff;
}

body {
	background-color: var(--dark);
	font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--pink) !important;
}