@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.ttf);
    font-display: swap;
}

:root {
    --green: #0bf574;
    --dark: #272727;
    --white: #ffffff;
}

body {
	background-color: var(--dark);
	font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}