#container {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home, .home:hover, .home:active, .home:visited {
    color: var(--green);
    font-size: 36px;
}

.title {
    font-size: 60px;
    color: var(--green);
}

.sub {
    padding-top: 2%;
    font-size: 24px;
    color: var(--green);
}

.line {
    width:30px; 
    color: var(--white); 
    border-color: var(--white);
}

.sub-text {
    font-size: 24px;
    color: var(--white);
}