html, html.light {
	--primary: #dddddd;
	--secondary: #ffffff;
	--tertiary: #141414;
	--grey: #444444;
	--accent: #0a9e6d;
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		--primary: #141414;
		--secondary: #222222;
		--tertiary: #141414;
		--grey: #c8c8c8;
		--accent: #0dcf8e;
		color-scheme: dark;
	}
}

@font-face {
	font-family: Outfit;
	src: url(/Outfit.ttf);
}

body {
	@apply bg-primary duration-400 font-primary text-grey transition;
}

.container {
	@apply mx-auto mt-24 max-w-3xl px-8;
}

h1 {
	@apply text-4xl font-bold;
}

a {
	@apply text-accent underline underline-offset-4 transition-opacity hover:opacity-75;
}
