html, html.light {
	--primary: #ffffff;
	--secondary: #eeeeee;
	--tertiary: #141414;
	--grey: #444444;
	--accent: #009b50;
	--green-bg: #4ade8033;
	--green-text: #15803d;
	--red-bg: #f8717133;
	--red-text: #b91c1c;
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		--primary: #141414;
		--secondary: #222222;
		--tertiary: #141414;
		--grey: #c8c8c8;
		--accent: #0dcf8e;
		--green-text: #4ade80;
		--red-text: #f87171;
		color-scheme: dark;
	}
}

@font-face {
	font-family: Outfit;
	src: url(/Outfit.woff2);
	font-display: swap;
}

body {
	@apply bg-primary duration-200 font-primary text-grey transition-colors min-h-screen;
}

.container {
	@apply mx-auto max-w-[1430px] px-8;
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-2xl font-bold;
}

h3 {
	@apply text-xl font-bold;
}

h4 {
	@apply text-lg font-bold;
}

h5 {
	@apply text-base font-bold;
}

a {
	@apply text-accent underline underline-offset-4 transition-filter duration-200 hover:brightness-75;
}